{% extends "base-layout.html" %}

{% block content %}
    <b>Profile</b>
    <br><br>
    <b>name</b>: {{ profile_name }}
    <br><br>
    <a href="{% url 'web:spotify-logout' %}"><button>Logout</button></a>
    <br><br>

    <div class="playlists-container">
        <table>
            <thead>
                <tr>
                    <th>playlist name</th>
                    <th>tracks total</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td>
                            <a class="playlist-name-clickable" onclick="showPlaylistTracks('{{ playlist.id }}')">
                                {{ playlist.name }}
                            </a>
                        </td>
                        <td>{{ playlist.tracks.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="playlist-tracks-container"></div>
    </div>

    <style>
        .playlists-container {display: flex; align-items: start}

        .playlists-container table {
            table-layout: auto;
            width: 500px;
            background-color: lightgray;
        }

        .playlists-container td {background-color: white}

        .playlist-name-clickable {cursor: pointer; color: blue}
    </style>

{% endblock %}